/*Color*/
:root {
    --brand-color: #2F303A;
    --font-color: #F5F4FA;
    --active: #2196F3;
    --black: #000000;
    --favorit: #212121;
    --text: #757575;
    --white: #ffffff;
    --hover-btn: #188CE8;
    --header-border: #ECECEC;
    --icons-svg: #AFB1B8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}