body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--favorit);
    padding: 0;
}

/* section*/

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

/* SUBTITLE */
.subtitle {
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;

    margin-bottom: 30px;

    @include mq(tablet-only) {
        
    }
    

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}
        






