body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--favorit);
    padding: 0;
}

/* section*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* SUBTITLE */
.subtitle {
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}
        






