/* container */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid tomato; */

    

    @include mq(mobile-only) {
        max-width: 480px;
    }

    @include mq(tablet) {
        max-width: 768px;
    }
    @include mq(desktop) {
        max-width: 1200px;
    }
}
