/* CUSTOMERS */


.customers__list {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    
    
    
    margin:0;
    padding: 0;
    margin: -15px;
    
    
}

.customers__item {
    max-width: 480px;
    width: 100%;
    margin: 15px;
    @include mq(mobile){
        flex-basis: calc((100% - 60px) / 2);
    }
    
    @include mq(mobile-only) {
        max-width: 480px;
    }

    @include mq(tablet) {
        flex-basis: calc((100% -  90px) / 3);
    }
    
    @include mq(desktop) {
        flex-wrap: nowrap;
        flex-basis: calc((100% - 180px) / 6);
        
        
    }
    
}


.customers__link {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    border: 1px solid var(--icons-svg);
    border-radius: 4px;

    transition: color 250ms var(--time-function), border-color 250ms var(--time-function);
    fill: var(--icons-svg);

    &:hover .customers__icon,
    &:focus .customers__icon {
        fill: var(--active);
    }

    &:hover,
    &:focus {
        border-color: var(--active);
    }

    @include mq(mobile) {
        max-width: 210px;
        height: 92px;
    }
    @include mq(tablet) {
        max-width: 226px;
    }

    @include mq(desktop) {
        max-width: 170px;
       
    }

}
