/* HEADER */


.header {
        border-bottom: 1px solid var(--header-border);
        padding-top: 24px;
        padding-bottom: 24px;
}

.main {
    display: flex;
    align-items: center;
    position: relative;
}


.main__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0;
    padding-left: 40px;
    background-color: var(--white);
    z-index: 999;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(100%);
    transition: transform 250ms var(--time-function);
    @include mq(mobile) {
        height: 100%;
    }
    @include mq(tablet) {
        display: none;
    }
}s


.main__wrapper.is-open {
    transform: translateX(0);
}

.main__navigation {
    display: none;
    @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}


.main__btn {
    position:absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 10;
    &--burger {
        top: -2px;
        right: -8px;
    }
    &:focus,
    &:hover {
        fill: var(--active);
    }
    
    @include mq(tablet) {
        display: none;
    }

}

// .main__item  {
//     margin-left: 50px;
//     &:nth-child(4n + 1) {
//         margin-left: 0;
//     }
// }

// .main__nav {


//     // display: flex;
//     // align-items: center;
// }


.main__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    

    @include mq(tablet) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    &--contact {
        flex-direction: column-reverse;
        margin-bottom: 64px;
        

        @include mq(tablet) {
            margin-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
            
            position: relative;
            margin-left: auto;
            position: relative;
            margin-left: 0;
        }
        @include mq(desktop) {
            flex-direction: row;
        }
        
    }


    
}
.main__contact {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    @include mq(tablet) {
        margin-left: 80px;
    }
    
}

.main__item {
    margin-bottom: 32px;
    
    @include mq(tablet) {
        margin-bottom: 0;
        margin-left: 50px;
        &:nth-child(4n + 1) {
            margin-left: 0;
        }
    }
    &--contact {
        @include mq(tablet) {
            margin-left: 0;
            
        }
        @include mq(desktop) {
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    

}

.main__link {

    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
   

    
    position: relative;
    
    transition: color 250ms var(--time-function);

    
    &--active {
        color: var(--active);
    }

    @include mq(tablet) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            padding-top: 32px;
            padding-bottom: 37.2px;
        &--active::after {
            position:absolute;
            content: "";
            bottom: 0;
            right: 0;
            width: 100%;
            height: 4px;

            background-color: var(--active);
            border-radius: 2px;

            transform: scaleX(1);
            transition: transform 250ms var(--time-function);
        }
    }
    @include mq(desktop) {
        padding-bottom: 32.4px;
    }
    &:hover,
    &:focus,
    &--grey:hover,
    &--grey:focus {
    transition: transform 250ms var(--time-function);

    color: var(--active);
    cursor: pointer;
    fill: var(--active);
    }
}

.main__link--grey-tel {
        
    font-size: 34px;
    line-height: 1.17;
    color: var(--active);
    
   
    padding: 0;
    // color: var(--text);
    fill: var(--text);
    transition: color 250ms var(--time-function);
    
    @include mq(tablet) {
        font-size: 12px;
        line-height: 1.66;
        color: var(--text);
        display: flex;
        align-items: center;
    }
    
}
.main__link--grey-mail {
        
    font-size: 24px;
    line-height: 1.16;
    
    
    padding: 0;
    color: var(--text);
    fill: var(--text);
    transition: color 250ms var(--time-function);

    @include mq(tablet) {
        font-size: 12px;
        line-height: 1.66;
        display: flex;
        align-items: center;
        
    }
}

   

.main__icon {
    display: none;
    @include mq(tablet) {
        display: block;
        margin-right: 10px;
    }

}


.social-burger {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    &__item {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
        
        
    }
    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--active);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -10px;
            height: 22px;
            border: 1px solid #212121;
            opacity: 0.2;
            
        }

    }

    @include mq(tablet) {
        display: none;
    }
    
}