/* inform */

.inform__list {
    max-width: 480px;
    padding: 0;
    margin: 0;
    margin: 0 auto;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 768px;

        
    }

    @include mq(desktop) {
        display: flex;
        flex-wrap: wrap;
        min-width: 1280px;
       
    }
    
    
}

.inform__item {

    margin-bottom: 30px;    
   
    

    @include mq(tablet) {
        
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin-right: 30px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include mq(desktop) {

        flex-basis: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
        
        &:nth-child(2n) {
            margin-right: 30px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}    
    


.inform__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F5F4FA;
    max-width: 480px;
    height: 120px;
    margin-bottom: 30px;

    // @include mq(tablet) {
    //     max-width: 354px;
    // }
    // @include mq(desktop) {
    //     max-width: 270px;
    // }
}

.inform__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;

    @include mq(tablet) {
        text-align: start;
    }
}

.inform__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
}
