/* PORTFOLIO */

/* main-header */
.control {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.control__item {
    margin-right: 8px;
}

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.content__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--white);
    border: 1px solid #EEEEEE;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(n + 7) {
        margin-bottom: 0;
    }
}

.content__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content__link {
    display: block;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .content__overlay,
    &:focus .content__overlay {
    transform: translateY(0);
    opacity: 1;
    }
}

.content__wrap {
    padding: 20px 24px;
}

.content__tumb {
    position: relative;
    overflow: hidden;
}

.content__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: rgba( 33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__paragraph {
    display: block;
    padding: 63px 24px;

    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}

.content__title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--favorit);

}

.content__text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text);
}