    /* SERVICE */


.service {
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/background/header.jpg");

    background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        -webkit-image-set(url("../images/background/header.jpg") 1x);
        
    

    @include mq(retina) {
        background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/background/header@2x.jpg");
        
        
        background-image: 
            linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            -webkit-image-set(url("../images/background/header@2x.jpg") 2x);
            
        }

    // Фонове зображення для планшету

    @include mq(tablet-only) {
        background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/header_tab.jpg");
        
        background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        -webkit-image-set(url("../images/header_tab.jpg") 1x);

        @include mq(retina) {
            background-image: 
            linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url("../images/header_tab@2x.jpg");
            
            
            
        background-image: 
            linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            -webkit-image-set(url("../images/header_tab@2x.jpg") 2x);
                
                
            }
    }

    // Фонове зображення для десктопу

    @include mq(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;

        background-image:
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url("../images/background/background.jpg");
        
        
        background-image: 
        linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        -webkit-image-set(url("../images/background/background.jpg") 1x);

        @include mq(retina) {
            background-image: 
            linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url("../images/background/background@2x.jpg");
            
            
        background-image: 
            linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            -webkit-image-set(url("../images/background/background@2x.jpg") 2x);
            
        }
    }
    
    
    
}



.service__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    margin-bottom: 30px ;

    @include mq(desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
    
}
    